.button {
  color: white;
  border: none;
  font-size: 1em;
  padding: 1.3em 1em 1em;
  width: 32.5em;
  letter-spacing: 0.25em;
  font-weight: 700;
  border-radius: 3em;
  cursor: pointer;
  text-transform: uppercase;
  background: #ec5c97;
  transition: background 0.5s ease-in-out;

  &:hover {
    background: #e94287;
  }
}

.pressed {
  background: #00b2aa;

  &:hover {
    background: #05998c;
  }
}

.text {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

.visible {
  opacity: 1;
}
